html {
    background-color: oldlace;
}
h2 {
    border-bottom: 4px solid red; /* Add a red bold line underneath */
    font-weight: bold; /* Make the text bold */
}
body {
    cursor: none; /* Hide default cursor */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.custom-cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    background-image: url('https://img.freepik.com/premium-psd/baseball_624511-329.jpg?size=338&ext=jpg&ga=GA1.1.735520172.1710288000&semt=ais');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 9999;
    top: calc(50% - 16px); /* Center vertically */
    left: calc(50% - 16px); /* Center horizontally */
}






#project-1 img:hover {
    box-shadow: 0 0 20px rgba(30, 144, 255, 1);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff; /* Adjust the background color as needed */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for visual effect */
    z-index: 1000; /* Ensure the header stays above other content */
    /* Add any other styles you want for the sticky header */
}
/* styles.css */

/* Header */
header {
    background-color: dodgerblue;
    color: white;
    padding: 20px;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main */
main {
    display: flex;
    flex-direction: column; /* Stack sections vertically */
}
section {
    border: 2px solid dodgerblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 128, 0.5);
    margin-top: 20px;
    background-color: #ffffff;
}

/* About Me Section */
#about-me {
    width: auto;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 128, 0.5);
    margin-top: 50px;
}

#about-me img {
    max-width: 100%; /* Ensure the image doesn't overflow its container */
    float: right; /* Float the image to the right */
    margin-left: 20px; /* Add some space between the text and the image */
    border-radius: 8px;
    border: 2px solid navy;

}

/* Projects and Skills Sections */
#projects {
    display: grid;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 128, 0.5);
    background-color: #ffffff;

}
/* Skills Icons */
#skills {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 128, 0.5);
    background-color: #ffffff;
}
#skills ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#skills li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

#skills li i {
    font-size: 5em; /* 5 times bigger */
    color: dodgerblue;
    transition: color 0.3s; /* Smooth transition for color change */
    display: block; /* Display icons as blocks */
    margin-bottom: 10px; /* Add some space below each icon */
    
}

#skills li span {
    font-size: 1em
}

/* Social Media Icons */
#social-media-icons a {
    color: dodgerblue;
    font-size: 36px;
    margin-right: 10px;
    transition: color 0.3s ease;
}
#social-media-icons a:hover {
    color: darkblue;
}
div {
    border: 3px solid navy;
    border-radius: 8px;
    width: 300px;
    padding: 10px;
}
div img {
    display: block;
    margin: 0 auto;
    
}
/* Styles for small devices (phones, 576px and down) */
@media (max-width: 576px) {
    /* Adjust padding and margin-top for smaller screens */
    section {
        padding: 10px;
        margin-top: 10px;
    }
    /* Adjust styles for the img in the About Me section */
    #about-me img {
        max-width: 100%;
        float: none;
        margin: 0 auto;
        display: block;
    }
    #skills ul {
        flex-direction: column;
        align-items: center; /* Align items in the center */
    }
}

/* Styles for medium devices (portrait tablets, 768px and up) */
@media (min-width: 768px) {
    /* Adjust padding and margin-top for medium screens */
    section {
        padding: 20px;
        margin-top: 30px;
    }
    /* Adjust styles for the img in the About Me section */
    #about-me img {
        max-width: 50%;
        float: right;
        margin-left: 20px;
        margin-right: 0;
        display: inline-block;
    }
}

/* Styles for large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    /* Adjust padding and margin-top for larger screens */
    section {
        padding: 30px;
        margin-top: 40px;
    }
}

/* Styles for extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Further adjust padding and margin-top for extra large screens */
    section {
        padding: 40px;
        margin-top: 50px;
    }
}


